<!doctype html>

<html lang="zh">

<head>

	<meta charset="UTF-8">

	<title></title>

	<link rel="stylesheet" href="../css/search.css" />
	<link rel="stylesheet" href="../css/scrollbar.css" />	
	<link rel="stylesheet" href="../css/box.css" />
	<link rel="stylesheet" href="../css/sidenav.css" />
	

</head>

<body>

	<div class="htmleaf-container">
		<div class="htmleaf-content bgcolor-8">

			<ul class="grid">

				<li class="one">
					
					<ul class="sidenav">
						<li>
							<div id="d" class="webdesigntuts-workshop"> 
								<span style="width: 285px;">
									<input id="search" type="search">
									<button onclick="location.href='https://www.baidu.com/s?wd='+document.getElementById('search').value">百度一下</button>
								</span>
							</div>
						</li>
						<li><a href="div自动旋转.html"><i class="fa fa-check"></i><span class="w"><b>div自动旋转</b></span></a></li>

						<li><a href="js生成二维码.html"><i class="fa fa-inbox"></i><span class="w"><b>js生成二维码</b></span></a></li>

						<li><a href="js生成html.html"><i class="fa fa-pencil"></i><span class="w"><b>js生成html</b></span></a></li>

						<li><a href="图片跟随鼠标.html"><i class="fa fa-cog"></i><span class="w"><b>图片跟随鼠标</b></span></a></li>

						<li><a href="滑动显示隐藏内容的按钮.html"><i class="fa fa-star"></i><span class="w"><b>滑动显示隐藏内容的按钮</b></span></a></li>

						<li><a href="图标svg.html"><i class="fa fa-star"></i><span class="w"><b>图标svg</b></span></a></li>

						<li><a><i class="fa fa-power-off"></i><span class="w"><b>Logout</b></span></a></li>				

					</ul>

					<section>
						<div style="background-color: darkgoldenrod; width: 100%;height: 500px;"></div>
					</section>

				</li>
			</ul>
		</div>
	</div>
	<div class="box">
		<ul class="minbox">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<ol class="maxbox">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ol>
	</div>

</body>

</html>