<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>图片跟随鼠标</title>
		<style>
			#img
			{
				width: 20px;
				height: 20px;
				position:absolute;
			}
			#img img
			{
				max-width: 70px;
				max-height: 70px;
			}

		</style>
	</head>
	<body>
		<div id="img"><img src="../img/仙剑5姜云凡.png" /></div>
	</body>
	<script>
		document.onmousemove=function (ev)
		{
			var mouse=ev||event;
			var img=document.getElementById('img');
		     	
			img.style.left=mouse.clientX+20+'px';
			img.style.top=mouse.clientY+20+'px';
		};
	</script>
</html>
